.u-section-1 .u-sheet-1 {
  min-height: 733px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: 60px auto 60px 421px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 347px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 266px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 200px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 126px;
  }
}@font-face {
  font-family: '8bitOperatorPlusSC-Bold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/8bitOperatorPlusSC-Bold.ttf);
}@font-face {
  font-family: '8bitOperatorPlus-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/8bitOperatorPlus-Regular.ttf);
}@font-face {
  font-family: '8bitOperatorPlus-Bold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/8bitOperatorPlus-Bold.ttf);
}