<!DOCTYPE html>
<html style="font-size: 16px;" lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="MR.ELK">
    <meta name="description" content="">
    <title>Mr.Elk | Settings</title>
    <link rel = "icon" href="{{ url_for('static', filename= 'images/logo5.png') }}" type = "image/x-icon">
    <meta http-equiv="refresh" content="5"/>

    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/nicepage.css') }}" media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/Home.css') }}" media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/settings.css') }}" media="screen">
    <script class="u-script" type="text/javascript" src="{{ url_for('static', filename= 'js/jquery.js') }}" "="" defer=""></script>
    <script class="u-script" type="text/javascript" src="{{ url_for('static', filename= 'js/nicepage.js') }}" "="" defer=""></script>
        
    <script type="application/ld+json">{
		"@context": "https://www.mrelk.org",
		"@type": "Organization",
		"name": "Mr.Elk_Elastic_Assistant",
		"logo": "{{ url_for('static', filename= 'images/logo5.png') }}"}
    </script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Mr.Elk">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
  </head>
  <body data-home-page="Home.html" data-home-page-title="Mr.Elk" class="u-body u-xl-mode" data-lang="en">
    <header class="u-clearfix u-grey-90 u-header u-sticky u-sticky-466c" id="sec-c265" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
      <div class="u-clearfix u-sheet u-valign-middle-lg u-sheet-1">
        <a href="https://www.mrelk.org" class="u-image u-logo u-image-1" data-image-width="1287" data-image-height="1500">
          <img src="{{ url_for('static', filename= 'images/logo5.png') }}" class="u-logo-image u-logo-image-1">
        </a>
        <p class="u-custom-font u-text u-text-default u-text-1"><a href="https://www.mrelk.org" ><span class="u-text-custom-color-2">MR. ELK</span></a></p>
        <p class="u-custom-font u-text u-text-default u-text-white u-text-2">Elastic Assistent 1.0.0-Alpha</p>
        {% if connection_status == "Connected" %}
          <p class="u-btn u-radius-15 u-btn-1" style="background-color: #6CC24A; color: white">{{ connection_status }}</p>
        {% else %}
          <p class="u-btn u-radius-15 u-btn-1" style="background-color: #db545a; color: white">{{ connection_status }}</p>
        {% endif %}
      </div>
    </header>
    <section class="u-align-center u-clearfix u-grey-90 u-section-1" id="sec-ea4d">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-border-2 u-border-custom-color-1 u-container-style u-group u-radius-10 u-shape-round u-white u-group-1">
          <div class="u-container-layout u-container-layout-1">
            <p class="u-align-left u-custom-font u-text u-text-1">Editing the Setting will need a restart afterwards, please use the save button below for each tab you change values in then restart the service.</p>
          </div>
        </div>
        <div class="u-tabs u-tabs-1">
          <ul class="u-tab-list u-unstyled" role="tablist">
            <li class="u-tab-item" role="presentation">
              <a class=" active u-active-custom-color-1 u-border-2 u-border-active-custom-color-2 u-border-custom-color-2 u-border-hover-custom-color-2 u-button-style u-custom-color-2 u-custom-font u-tab-link u-tab-link-1" id="link-tab-cdf7" href="#tab-cdf7" role="tab" aria-controls="tab-cdf7" aria-selected="true">General</a>
            </li>
            <li class="u-tab-item" role="presentation">
              <a class="u-active-custom-color-1 u-border-2 u-border-active-custom-color-2 u-border-custom-color-2 u-border-hover-custom-color-2 u-button-style u-custom-color-2 u-custom-font u-tab-link u-tab-link-2" id="link-tab-5515" href="#tab-5515" role="tab" aria-controls="tab-5515" aria-selected="false">Elastic Connection</a>
            </li>
          </ul>
          <div class="u-tab-content">
            <div class="u-container-style u-tab-active u-tab-pane" id="tab-cdf7" role="tabpanel" aria-labelledby="link-tab-cdf7">
              <div class="u-container-layout u-valign-top u-container-layout-2">
                <div class="u-form u-form-1  u-custom-font u-text u-text-1" style="font-size: 14px;">
                  <form action="#" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" name="form" style="padding: 10px;">
                    <div class="u-form-group u-form-name u-label-left">
                      <label for="name-b4a5" class="u-label">Server Host</label>
                      <input type="text" placeholder="0.0.0.0" value="{{ config['server.host'] }}" id="name-b4a5" name="host" class="u-border-1 u-border-custom-color-1 u-custom-color-2 u-input u-input-rectangle u-radius-15" required="">
                    </div>
                    <div class="u-form-email u-form-group u-label-left">
                      <label class="u-label">Server Port</label>
                      <input type="number" placeholder="9820" value="{{ config['server.port'] }}" id="email-b4a5" name="port" class="u-border-1 u-border-custom-color-1 u-custom-color-2 u-input u-input-rectangle u-radius-15" required="">
                    </div>
                    <div class="u-form-group u-form-submit u-label-left">
                      <label class="u-label u-label-3"></label>
                      <div class="u-align-left u-btn-submit-container">
                        <a href="#" class="u-btn u-btn-submit u-button-style u-radius-15 u-active-custom-color-1 u-border-2 u-border-active-custom-color-2 u-border-custom-color-2 u-border-hover-custom-color-2 u-button-style u-custom-color-2">Save</a>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="u-container-style u-tab-pane" id="tab-5515" role="tabpanel" aria-labelledby="link-tab-5515">
              <div class="u-container-layout u-valign-top u-container-layout-3">
                <div class="u-form u-form-2 u-custom-font u-text u-text-1" style="font-size: 14px;">
                  <form action="#" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" name="form" style="padding: 10px;">
                    <div class="u-form-group u-form-name u-label-left">
                      <label for="name-b4a5" class="u-label">Elastic <br> URL</label>
                      <input type="text" placeholder="http://elasticsearch:9200" value="{{ config['elasticsearch.url'] }}" id="name-b4a5" name="url" class="u-border-1 u-border-custom-color-1 u-custom-color-2 u-input u-input-rectangle u-radius-15" required="">
                    </div>
                    <div class="u-form-email u-form-group u-label-left">
                      <label for="email-b4a5" class="u-label">Elastic Username</label>
                      <input type="text" placeholder="elastic" value="{{ config['elasticsearch.username'] }}" id="email-b4a5" name="username" class="u-border-1 u-border-custom-color-1 u-custom-color-2 u-input u-input-rectangle u-radius-15" required="">
                    </div>
                    <div class="u-form-group u-label-left u-form-group-6">
                      <label for="text-eaf2" class="u-label">Elastic Password</label>
                      <input type="password" placeholder="" value="{{ config['elasticsearch.password'] }}" id="text-eaf2" name="password" class="u-border-1 u-border-custom-color-1 u-custom-color-2 u-input u-input-rectangle u-radius-15">
                    </div>
                    <div class="u-form-group u-label-left u-form-group-7">
                      <label for="text-7d4a" class="u-label">PEM <br> Path</label>
                      <input type="text" placeholder="/path/to/certificate" value="{{ config['elasticsearch.ssl.certificateAuthorities'] }}" id="text-7d4a" name="text-1" class="u-border-1 u-border-custom-color-1 u-custom-color-2 u-input u-input-rectangle u-radius-15">
                    </div>
                    <div class="u-form-checkbox u-form-group u-form-group-8">
                      <input type="checkbox" id="checkbox-cd3e" name="checkbox" value="On" checked>
                      <label for="checkbox-cd3e" class="u-label">Verify SSL</label>
                    </div>
                    <div class="u-form-group u-form-submit u-label-left">
                      <label class="u-label u-label-9"></label>
                      <div class="u-align-left u-btn-submit-container">
                        <a href="#" class="u-btn u-btn-submit u-button-style u-radius-15 u-active-custom-color-1 u-border-2 u-border-active-custom-color-2 u-border-custom-color-2 u-border-hover-custom-color-2 u-button-style u-custom-color-2">Save</a>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      
      
      
      
      
    </section>
    
    
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-0c0d"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1"> © 2022 MR.ELK - All Rights Reserved</p>
      </div></footer>
    <section class="u-backlink u-clearfix u-grey-80">
      <a class="u-link" href="https://nicepage.com/website-templates" target="_blank">
        <span>Website Templates</span>
      </a>
      <p class="u-text">
        <span>created with</span>
      </p>
      <a class="u-link" href="" target="_blank">
        <span>Website Builder Software</span>
      </a>. 
    </section>
  
</body></html>