<!DOCTYPE html>
<html style="font-size: 16px;" lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="MR.ELK">
    <meta name="description" content="">
    <title>Mr.Elk | Shards View</title>
    <link rel = "icon" href="{{ url_for('static', filename= 'images/logo5.png') }}" type = "image/x-icon">

    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/nicepage.css') }}" media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/Home.css') }}" media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/settings.css') }}" media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/dataTables.css') }}" media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bootstrap.css') }}" media="screen">
    <script class="u-script" type="text/javascript" src="{{ url_for('static', filename= 'js/jquery.js') }}" "="" defer=""></script>
    <script class="u-script" type="text/javascript" src="{{ url_for('static', filename= 'js/nicepage.js') }}" "="" defer=""></script>
    <script class="u-script" type="text/javascript" src="{{ url_for('static', filename= 'js/dataTables.js') }}" "="" defer=""></script>
    <script class="u-script" type="text/javascript" src="{{ url_for('static', filename= 'js/bootstrap.bundle.js') }}" "="" defer=""></script>
        
    <script type="application/ld+json">{
		"@context": "https://www.mrelk.org",
		"@type": "Organization",
		"name": "Mr.Elk_Elastic_Assistant",
		"logo": "{{ url_for('static', filename= 'images/logo5.png') }}"}
    </script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Mr.Elk">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
  </head>
  <body data-home-page="shards.html" data-home-page-title="Mr.Elk | Shards View" class="u-body u-xl-mode" data-lang="en">
    <header class="u-clearfix u-grey-90 u-header u-sticky u-sticky-466c" id="sec-c265" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
      <div class="u-clearfix u-sheet u-valign-middle-lg u-sheet-1" id="connection_status">
        <a href="/" class="u-image u-logo u-image-1" data-image-width="1287" data-image-height="1500">
          <img src="{{ url_for('static', filename= 'images/logo5.png') }}" class="u-logo-image u-logo-image-1">
        </a>
        <p class="u-custom-font u-text u-text-default u-text-1"><a href="/" ><span class="u-text-custom-color-2">MR. ELK</span></a></p>
        <p class="u-custom-font u-text u-text-default u-text-white u-text-2">Elastic Assistent 1.0.0</p>
        {% if connection_status == "Connected" %}
          <p class="u-btn u-radius-15 u-btn-1" style="background-color: #6CC24A; color: white;">{{ connection_status }}</p>
        {% else %}
          <p class="u-btn u-radius-15 u-btn-1" style="background-color: #db545a; color: white;">{{ connection_status }}</p>
        {% endif %}
      </div>
    </header>
    <section class="u-align-center u-clearfix u-grey-90 u-section-1" id="sec-ea4d">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-border-2 u-border-custom-color-1 u-container-style u-group u-radius-10 u-shape-round u-white u-group-1">
          <div class="u-container-layout u-container-layout-1">
            <p class="u-align-left u-custom-font u-text u-text-1">Each tab will show you shards and all the metrics related to it.</p>
          </div>
        </div>
        <div class="u-tabs u-tabs-1">
          <ul class="u-tab-list u-unstyled" role="tablist">
            <li class="u-tab-item" role="presentation">
              <a class=" active u-active-custom-color-1 u-border-2 u-border-active-custom-color-2 u-border-custom-color-2 u-border-hover-custom-color-2 u-button-style u-custom-color-2 u-custom-font u-tab-link u-tab-link-1" id="link-tab-2000" href="#tab-2000" role="tab" aria-controls="tab-2000" aria-selected="true">General</a>
            </li>
            <li class="u-tab-item" role="presentation">
              <a class="u-active-custom-color-1 u-border-2 u-border-active-custom-color-2 u-border-custom-color-2 u-border-hover-custom-color-2 u-button-style u-custom-color-2 u-custom-font u-tab-link u-tab-link-2" id="link-tab-2001" href="#tab-2001" role="tab" aria-controls="tab-2001" aria-selected="false">System</a>
            </li>
          </ul>
          <div class="u-tab-content">
            <div class="u-container-style u-tab-active u-tab-pane" id="tab-2000" role="tabpanel" aria-labelledby="link-tab-2000">
              <div class="u-container-layout u-valign-top u-container-layout-2">
                <div class="u-form u-form-1  u-custom-font u-text u-text-1" style="font-size: 14px;">
                  <script>
                    setInterval
                    (function() {
                    $("#tab-2000").load(location.href+" #tab-2000>*","");
                    }, 1000);  
                  </script> 
                      <table class="table">
                        <thead class="u-custom-font" style=" color: white;">
                          <tr>
                            {% for header in shards_headers %}
                              <th ><strong>{{ header }}</strong></th>
                            {% endfor %}
                          </tr>
                        </thead>
                        <tbody calss="u-custom-font u-text u-text-1">
                          {% for shard in shards_data %}
                            <tr>    
                              {% if shard["i"][0] != "." %}
                                <td>{{ shard["i"] }}</td>
                                <td>{{ shard["s"] }}</td>
                                <td>{{ shard["p"] }}</td>
                                {% if shard["st"] == "STARTED" %}
                                  <td style=" color:#6CC24A">{{ shard["st"] }}</td>
                                {% elif shard["st"] == "UNASSIGNED" %}
                                  <td style=" color:#db545a">{{ shard["st"] }}</td>
                                {% else %}
                                  <td style=" color:#fff200">{{ shard["st"] }}</td>
                                {% endif %}
                                <td>{{ shard["d"] }}</td>
                                <td>{{ shard["sto"] }}</td>
                                <td>{{ shard["gmto"] }}</td>
                                <td>{{ shard["gto"] }}</td>
                                <td>{{ shard["n"] }}</td>
                                <td>{{ shard["ip"] }}</td>
                              {% endif %}
                              </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                </div>
              </div>
            </div>
            <div class="u-container-style u-tab-pane" id="tab-2001" role="tabpanel" aria-labelledby="link-tab-2001">
              <div class="u-container-layout u-valign-top u-container-layout-2">
                <div class="u-form u-form-1  u-custom-font u-text u-text-1" style="font-size: 14px;">
                  <script>
                    setInterval
                    (function() {
                    $("#tab-2001").load(location.href+" #tab-2001>*","");
                    }, 1000);  
                  </script> 
                       <table class="table">
                        <thead class="u-custom-font" style=" color: white;">
                          <tr>
                            {% for header in shards_headers %}
                              <th ><strong>{{ header }}</strong></th>
                            {% endfor %}
                          </tr>
                        </thead>
                        <tbody calss="u-custom-font u-text u-text-1">
                          {% for shard in shards_data %}
                            <tr>    
                              {% if shard["i"][0] == "." %}
                                <td>{{ shard["i"] }}</td>
                                <td>{{ shard["s"] }}</td>
                                <td>{{ shard["p"] }}</td>
                                {% if shard["st"] == "STARTED" %}
                                  <td style=" color:#6CC24A">{{ shard["st"] }}</td>
                                {% elif shard["st"] == "UNASSIGNED" %}
                                  <td style=" color:#db545a">{{ shard["st"] }}</td>
                                {% else %}
                                  <td style=" color:#fff200">{{ shard["st"] }}</td>
                                {% endif %}
                                <td>{{ shard["d"] }}</td>
                                <td>{{ shard["sto"] }}</td>
                                <td>{{ shard["gmto"] }}</td>
                                <td>{{ shard["gto"] }}</td>
                                <td>{{ shard["n"] }}</td>
                                <td>{{ shard["ip"] }}</td>
                              {% endif %}
                              </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>
    <footer class="u-align-center u-clearfix u-footer u-grey-80" id="sec-0c0d"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1" style="font-size: 12px;"> © 2022 MR.ELK - All Rights Reserved</p>
      </div></footer>
  
</body></html>